@import url(https://fonts.googleapis.com/css?family=Nova+Slim);
@import url(https://fonts.googleapis.com/css?family=Teko);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    background-color: #F4F4F4;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;

}

.reset-padding {
    padding: 0;
}

.box-shadow {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
"
}

.teko-style {
    font-family: 'Teko', sans-serif;
}

.nova-slim-style {
    font-family: 'Nova Slim', cursive;
    font-size: 0.8em;
}

ul > li {
    display: inline-block;
    list-style: none;
}

.card {
    padding: 20px;
}

.card > div {
    background-color: #ffffff;

}

.card-img {
    padding: 0;
}

.card-title {
    font-family: 'Teko', sans-serif;
    padding: 10px;
    font-size: 1.5em;

}

.card-title > div:first-child {
    display: inline-block;
    width: 130px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.card-content {
    padding: 20px 10px 40px 10px;
    font-size: 0.9em;
    line-height: 1.2em;
    overflow-y: hidden;
    color: #4d4d4d;

}

.card-content > div:first-child {

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /* fallback */
    max-height: 64px; /* fallback */
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.long-text {
    max-width: 80%;
    overflow-x: hidden;
}

.btn-bot {
    position: absolute;
    margin-left: -50px;
    left: 70%;
    width: 100px;
    bottom: 10px;
}

.home-cell {

    position: relative;
    max-width: 500px;
}

.home-img {
    overflow: hidden;

}

.home-img img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.home-img::after {
    content: "";
    color: #ffffff;
    background: rgba(0, 0, 0, 0.67);
    position: absolute;
    top: 73%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.home-img:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.film-info {
    position: absolute;
    bottom: 5%;
    left: 0;
    color: white;
    z-index: 2;
}

.small-img {
    max-width: 250px;
}

.date {
    padding: 1% 5%;

}

.transparent-separator {
    width: 100%;
    height: 50px;
    opacity: 0.7;
    background-color: #000000;
    position: relative;
    top: -50px;
    color: #ffffff;

}

.transparent-separator > div {

}

.transparent-separator > div > div {
    display: inline-block;
    font-size: 1.2em;
    padding: 9px;
}

.separator {
    width: 100%;
    height: 50px;
    background-color: lightgray;
    position: relative;
    top: -50px;
    /*display:table;*/
    /*vertical-align:middle;*/

}

.separator > div > div {
    display: inline-block;
    font-size: 1.2em;
    padding: 9px;
}

@media only screen and (max-width: 500px) {

}

.poster-container {

    max-width: 183px;
    max-height: 275px;
    position: absolute;
    top: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.title {
    position: absolute;
    top: 350px;
    width: 95%;
    padding-left: 15px;
    color: #ffffff;

}

.main-font-size {
    font-size: 1.1em;
}

.title div h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.inline-show-list {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 320px;
    padding: 0 15px;
    white-space: nowrap;
    position: relative;
}

.inline-show-list > div {
    width: 4000px;
}

.inline-show-list > div > div {
    padding: 0;
    height: 280px;
    width: 200px;
    float: left
}

.main-img-container {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;

}

.style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar {
    height: 5px;
    background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}

svg {
    width: 200px;
    height: 120px;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;

}

.header-gradient {
    background: linear-gradient(to bottom, #000000, #222222);
    background: -moz-linear-gradient(top, #000000, #222222);
    background: -o-linear-gradient(top, #000000, #222222);
    background: -ms-linear-gradient(top, #000000, #222222);
    background: -webkit-linear-gradient(#000000, #222222);
    color: #fff;
    height: 150px;
}

.no-poster {
    height: 280px;
    width: 185px;
    background-color: lightgray;
}

 .movies {
     height: 220px;
 }

.movies div {
    height: inherit;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.movies div > button {
    margin-top: 100%;
    border: 0;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-size: 1.6em;

}

@media (min-width: 700px) {
    .movies {
        height: 420px;
    }

    .movies > div {

        /*display: table;*/
        /*height: 420px;*/
        /*overflow: hidden;*/
    }

    .movies div > button {
        margin-top: 90%;
        height: 100px;
        width: 100px;
        border-radius: 50px;
        font-size: 2.6em;
    }
}