@import url(https://fonts.googleapis.com/css?family=Nova+Slim);
@import url(https://fonts.googleapis.com/css?family=Teko);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body{
    background-color: #F4F4F4;
    font-family: 'Source Sans Pro','Arial', sans-serif;
    padding-top: 60px;
}
.reset-padding {
    padding: 0;
}

.box-shadow{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);"
}

.teko-style {
    font-family: 'Teko', sans-serif;
}

.nova-slim-style {
    font-family: 'Nova Slim', cursive;
}
ul > li {
    display: inline-block;
    list-style: none;
}

.card {
    padding: 20px;
}

.card > div {
    background-color: #ffffff;

}
.card-img{
    padding: 0;
}

.card-title{
    font-family: 'Teko', sans-serif;
    padding: 10px;
    font-size: 1.5em;

}
.card-title>div:first-child{
    display:inline-block;
    width:130px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.card-content{
    padding: 30px 10px 30px 10px;
    font-size: 0.9em;
    line-height: 1.2em;
    overflow-y: hidden;
    color: #4d4d4d;

}
.card-content>div:first-child{

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 64px;      /* fallback */
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.btn-bot{
    position:absolute;
    margin-left:-50px;
    left:70%;
    width:100px;
    bottom:10px;
}
