<div title="{{tv.original_name}}" class="row" style="position: relative;">

    <div ng-show="tv.poster_path" class="col-xs-5 card-img">
        <img width="100%" ng-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{tv.poster_path}}" alt="{{tv.original_name}}"/>
    </div>
    <div ng-hide="tv.poster_path" class="col-xs-5 card-img">
        <img  width="100%" ng-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/jf4L6BTx5GaxKEGkq7UVAag1N1V.jpg" alt=""/>
    </div>

    <div class="col-xs-7">

        <div class="row card-title">
            <div class="col-sm-10">{{tv.original_name}}</div>
            <div class="col-sm-2">&#x2605{{tv.vote_average}}</div>
        </div>

        <div class="row card-content">
            <div class="cow-xs-6">{{tv.overview}}</div>
        </div>
    </div>

    <div class="col-xs-12">
        <a class="btn btn-bot" ui-sref="movieApp.tvSingle({order:tv.id})">More Info</a>
    </div>
    <!--<img width="200" src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt=""/>-->

</div>