<div class="row" style="position: relative;">

    <div class="col-xs-5 card-img">
        <img width="100%" ng-src="https://image.tmdb.org/t/p/original{{tv.poster_path}}" alt=""/>
    </div>

    <div class="col-xs-7">

        <div class="row card-title">

            <div class="col-xs-10">{{tv.original_name}}</div>
            <div class="col-xs-2">&#x2605{{tv.vote_average}}</div>
        </div>

        <div class="row card-content">
            <div class="cow-xs-6">{{tv.overview}}</div>
        </div>
    </div>

    <a class="btn btn-bot" ui-sref="movieApp.tvSingle({eventId:tv.id})">More Info</a>

    <!--<img width="200" src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt=""/>-->

</div>