<div class="container-fluid header-gradient">

<div class="row">
    <div class="col-sm-3">
        <!--=================================================-->
<div ng-include src="'views/directives/svgLogo.html'"></div>
        <!--=================================================-->
    </div>
    <div class="col-sm-6 hidden-xs">
        <div class="row date">
            <div class="col-sm-12">
                <h2 class="teko-style">
                    Happy {{week[todayDay]}} {{today | date}}
                </h2>
            </div>
            <div  class="col-sm-12">
                <div class="nova-slim-style">Always up to date with the latest Movies & TV Shows</div>
            </div>
        </div>


    </div>
    <div class="col-sm-3 hidden-xs">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="teko-style">Movies</h3>
                <div class="nova-slim-style">
                    <div>In Theatres</div>
                    <div>Upcomming</div>
                    <div>Popular</div>
                    <div>Top Rated</div>
                </div>

            </div>
            <div class="col-sm-6 affix-text">
                <h3 class="teko-style">Shows</h3>
                <div class="nova-slim-style">
                    <div>On Air</div>
                    <div>Top Rated</div>
                        <div>Popular</div>
                    <div>On Air Today</div>
                </div>

            </div>
        </div>

    </div>
</div>

</div>
<style>
    .navbar{
        border-radius: 0 !important;
        -moz-border-radius: 0 !important;
    }
</style>
<nav affix="147" style="z-index: 10" class="navbar navbar-inverse" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-fixed-top"
                    data-toggle="collapse" data-target="#navigationbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="movieApp">JUST MOVIES</a>
        </div>
        <div class="collapse navbar-collapse" id="navigationbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="movieApp">HOME</a></li>
                <li><a ui-sref="movieApp.movies({sortOrder:'now_playing'})">MOVIES</a></li>
                <li><a ui-sref="movieApp.tv({order:'on_the_air'})">TV SHOWS</a></li>
            </ul>
        </div>
    </div>
</nav>