<div class="container-fluid header-gradient">
    <div class="row">
        <div class="col-sm-3">
            <!--=================================================-->
            <!--<div ng-include src="'views/directives/svgLogo.html'"></div>-->
            <!--=================================================-->
            <div class="teko-style main-logo center-item">
                <h1>JUST MOVIES</h1>
                <img class="hidden-lg hidden-md hidden-sm" width="150" ng-src="static/movieDb.png" alt="MovieDB"/>
            </div>

        </div>
        <div class="col-sm-6 hidden-xs">
            <div class="row date">
                <div class="col-sm-5 col-md-4 col-lg-3" style="margin-top: 15px; margin-bottom: 5px">
                    <img width="150" ng-src="static/movieDb.png" alt="MovieDB"/>
                </div>

                <div class="col-sm-7 col-md-8 col-lg-9" >
                    <h3 class="teko-style">
                        {{week[todayDay]}} <br/> {{today | date}}
                    </h3>
                </div>
                <div class="col-sm-12">
                    <div class="nova-slim-style">Always up to date with the latest Movies & TV Shows</div>
                </div>
            </div>
        </div>

        <div class="col-sm-3 hidden-xs">
            <div class="row">

                <div class="col-sm-6">

                    <h3 class="teko-style">Movies</h3>

                    <div class="nova-slim-style">
                        <div><a ui-sref="movieApp.movies({sortOrder:'now_playing'})">Now Playing</a></div>
                        <div><a ui-sref="movieApp.movies({sortOrder:'upcoming'})">Upcoming</a></div>
                        <div><a ui-sref="movieApp.movies({sortOrder:'popular'})">Popular</a></div>
                        <div><a ui-sref="movieApp.movies({sortOrder:'top_rated'})">Top Rated</a></div>
                    </div>
                </div>

                <div class="col-sm-6 affix-text">

                    <h3 class="teko-style">Shows</h3>

                    <div class="nova-slim-style">

                        <div><a ui-sref="movieApp.tv({order:'airing_today',page:'1'})">Airing Today</a></div>
                        <div><a ui-sref="movieApp.tv({order:'on_the_air',page:'1'})">On The Air</a></div>
                        <div><a ui-sref="movieApp.tv({order:'popular',page:'1'})">Popular</a></div>
                        <div><a ui-sref="movieApp.tv({order:'top_rated',page:'1'})">Top Rated</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .navbar {
        border-radius: 0 !important;
        -moz-border-radius: 0 !important;
    }
</style>
<nav affix="147" style="z-index: 10" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-fixed-top"
                    data-toggle="collapse" data-target="#navigationbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="movieApp">JUST MOVIES</a>
        </div>
        <div class="collapse navbar-collapse" id="navigationbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="movieApp">HOME</a></li>
                <li><a ui-sref="movieApp.movies({sortOrder:'now_playing'})">MOVIES</a></li>
                <li><a ui-sref="movieApp.tv({order:'on_the_air'})">TV SHOWS</a></li>
            </ul>
        </div>
    </div>
</nav>