<style>

    .home-cell {

        position: relative;
        max-width: 500px;
    }

    .home-img {
        overflow: hidden;

    }

    .home-img img {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .home-img::after {
        content: "";
        color: #ffffff;
        background: rgba(0, 0, 0, 0.67);
        position: absolute;
        top: 73%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .home-img:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .film-info {
        position: absolute;
        bottom: 5%;
        left: 0;
        color: white;
        z-index: 2;
    }

    .small-img {
        max-width: 250px;
    }
    .date{
        margin-top: 15px;
        padding: 1% 5%;

    }
</style>

<div class="container">
    <h2 style="text-align: center" class="teko-style">
        <span class="date box-shadow">Happy {{week[todayDay]}} {{today | date}}</span>
    </h2>

    <div class="row">

        <div class="col-sm-6 col-xs-12">

            <h1 class="teko-style">Popular TV Shows</h1>

            <div class="row home-cell">

                <div class="col-xs-12 reset-padding home-img">
                    <a ui-sref="movieApp.tvSingle({order:tv.results[1].id})">
                        <img title="{{tv.results[firstId].name}}" ng-src="https://image.tmdb.org/t/p/w500_and_h281_bestv2/{{tv.results[firstId].backdrop_path}}"
                             alt="{{tv.results[firstId].name}}"/>
                    </a>
                </div>

                <div class="col-xs-12 film-info">
                    <h2 class="teko-style">{{tv.results[firstId].name}}
                        <span style="float: right">&#x2605{{tv.results[firstId].vote_average}}</span>
                    </h2>

                    <div class="nova-slim-style">First time on the air: {{tv.results[firstId].first_air_date | date}}
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-6  reset-padding home-img small-img">
                    <a ui-sref="movieApp.tvSingle({order:tv.results[2].id})">
                        <img title="{{tv.results[secondId].name}}" ng-src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{tv.results[secondId].backdrop_path}}"
                             alt="{{tv.results[secondId].name}}"/>
                    </a>

                    <div class="row">
                        <div class="col-xs-12 film-info">
                            <h4 class="teko-style">{{tv.results[secondId].name}}
                                <span style="float: right">&#x2605{{tv.results[secondId].vote_average}}</span>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 reset-padding home-img small-img">
                    <a ui-sref="movieApp.tvSingle({order:tv.results[thirdId].id})">
                        <img title="{{tv.results[thirdId].name}}" ng-src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{tv.results[thirdId].backdrop_path}}"
                             alt="{{tv.results[thirdId].name}}"/>
                    </a>

                    <div class="row">
                        <div class="col-xs-12 film-info">
                            <h4 class="teko-style">{{tv.results[thirdId].name}}
                                <span style="float: right">&#x2605{{tv.results[thirdId].vote_average}}</span>
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-6">
            <!--<h2 class="teko-style"><span class="date">{{today | date}}</span></h2>-->
            <h1 class="teko-style">Movies In Theatres</h1>


            <div class="row">
                <div  class="col-xs-6 reset-padding home-img small-img">
                    <a ui-sref="movieApp.single({eventId:movie.results[thirdId].id})">
                        <img title="{{movie.results[thirdId].title}}" ng-src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{movie.results[thirdId].backdrop_path}}"
                             alt="{{movie.results[thirdId].title}}"/>
                    </a>

                    <div class="row">
                        <div class="col-xs-12 film-info">
                            <h4 class="teko-style">{{movie.results[thirdId].title}}
                                <span style="float: right">&#x2605{{movie.results[thirdId].vote_average}}</span>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 reset-padding home-img small-img">
                    <a ui-sref="movieApp.single({eventId:movie.results[secondId].id})">
                        <img title="{{movie.results[secondId].title}}" ng-src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{movie.results[secondId].backdrop_path}}"
                             alt="{{movie.results[secondId].title}}"/>
                    </a>

                    <div class="row">
                        <div class="col-xs-12 film-info">
                            <h4 class="teko-style">{{movie.results[secondId].title}}
                                <span style="float: right">&#x2605{{movie.results[secondId].vote_average}}</span>
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row home-cell">

                <div class="col-sm-12 col-xs-12 reset-padding home-img">
                    <a ui-sref="movieApp.single({eventId:movie.results[firstId].id})">
                        <img title="{{movie.results[firstId].title}}" ng-src="https://image.tmdb.org/t/p/w500_and_h281_bestv2/{{movie.results[firstId].backdrop_path}}"
                             alt="{{movie.results[firstId].title}}"/>
                    </a>
                </div>

                <div class="col-xs-12 film-info">
                    <h2 class="teko-style">{{movie.results[firstId].title}}
                        <span style="float: right">&#x2605{{movie.results[firstId].vote_average}}</span>
                    </h2>

                    <div class="nova-slim-style">Release Date: {{movie.results[firstId].release_date | date}}</div>
                </div>
            </div>
        </div>
    </div>

</div>
