<div class="container">
    <div class="row">

        <div class="col-sm-6 col-xs-12">

            <h1 class="teko-style">Popular TV Shows</h1>

            <div class="row home-cell">

                <div class="col-xs-12 reset-padding home-img">
                    <a ui-sref="movieApp.tvSingle({order:tv.results[1].id})">
                        <img title="{{tv.results[firstId].name}}"
                             ng-src="https://image.tmdb.org/t/p/w500_and_h281_bestv2/{{tv.results[firstId].backdrop_path}}"
                             alt="{{tv.results[firstId].name}}"/>
                    </a>
                </div>

                <div class="col-xs-12 film-info">
                    <h2 class="teko-style">{{tv.results[firstId].name}}
                        <span style="float: right">&#x2605{{tv.results[firstId].vote_average}}</span>
                    </h2>

                    <div class="nova-slim-style">First time on the air: {{tv.results[firstId].first_air_date | date}}
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-6  reset-padding home-img small-img">
                    <a ui-sref="movieApp.tvSingle({order:tv.results[2].id})">
                        <img title="{{tv.results[secondId].name}}"
                             ng-src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{tv.results[secondId].backdrop_path}}"
                             alt="{{tv.results[secondId].name}}"/>
                    </a>

                    <div class="row">
                        <div class="col-xs-12 film-info">
                            <h4 class="teko-style">{{tv.results[secondId].name}}
                                <span style="float: right">&#x2605{{tv.results[secondId].vote_average}}</span>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 reset-padding home-img small-img">
                    <a ui-sref="movieApp.tvSingle({order:tv.results[thirdId].id})">
                        <img title="{{tv.results[thirdId].name}}"
                             ng-src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{tv.results[thirdId].backdrop_path}}"
                             alt="{{tv.results[thirdId].name}}"/>
                    </a>

                    <div class="row">
                        <div class="col-xs-12 film-info">
                            <h4 class="teko-style">{{tv.results[thirdId].name}}
                                <span style="float: right">&#x2605{{tv.results[thirdId].vote_average}}</span>
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-6 col-xs-12">
            <h1 class="teko-style">Movies In Theatres</h1>


            <div class="row">
                <div class="col-xs-6 reset-padding home-img small-img">
                    <a ui-sref="movieApp.single({eventId:movie.results[thirdId].id})">
                        <img title="{{movie.results[thirdId].title}}"
                             ng-src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{movie.results[thirdId].backdrop_path}}"
                             alt="{{movie.results[thirdId].title}}"/>
                    </a>

                    <div class="row">
                        <div class="col-xs-12 film-info">
                            <h4 class="teko-style">{{movie.results[thirdId].title}}
                                <span style="float: right">&#x2605{{movie.results[thirdId].vote_average}}</span>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 reset-padding home-img small-img">
                    <a ui-sref="movieApp.single({eventId:movie.results[secondId].id})">
                        <img title="{{movie.results[secondId].title}}"
                             ng-src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{movie.results[secondId].backdrop_path}}"
                             alt="{{movie.results[secondId].title}}"/>
                    </a>

                    <div class="row">
                        <div class="col-xs-12 film-info">
                            <h4 class="teko-style">{{movie.results[secondId].title}}
                                <span style="float: right">&#x2605{{movie.results[secondId].vote_average}}</span>
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row home-cell">

                <div class="col-sm-12 col-xs-12 reset-padding home-img">
                    <a ui-sref="movieApp.single({eventId:movie.results[firstId].id})">
                        <img title="{{movie.results[firstId].title}}"
                             ng-src="https://image.tmdb.org/t/p/w500_and_h281_bestv2/{{movie.results[firstId].backdrop_path}}"
                             alt="{{movie.results[firstId].title}}"/>
                    </a>
                </div>

                <div class="col-xs-12 film-info">
                    <h2 class="teko-style">{{movie.results[firstId].title}}
                        <span style="float: right">&#x2605{{movie.results[firstId].vote_average}}</span>
                    </h2>

                    <div class="nova-slim-style">Release Date: {{movie.results[firstId].release_date | date}}</div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="teko-style">Popular movies</h1>

    <div class="row" style="position: relative">

        <a href="#" class="rightArrow show-arrow">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
        <a href="#" class="leftArrow show-arrow">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>

        <div class="col-xs-12">
            <div class="inline-show-list style-3 innerWrapper">
                <div ng-repeat="tv in popular.results">
                    <div>
                        <a ui-sref="movieApp.single({eventId:tv.id})">
                            <img title="{{tv.name}}" height="280" width="185"
                                 style="background-color: darkgray;"
                                 ng-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{tv.poster_path}}"
                                 alt="{{tv.name}}"/>
                        </a>

                        <div class="long-text"><strong>{{tv.title}}</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>
    <script src="js/slider.js"></script>
</div>




