<p style="padding-bottom: 60px"></p>

<div class="container">

    <!--<button class="btn btn-default" ng-click="reload('top_rated'); name('Top Rated')">Top Rated</button>-->
    <!--<button class="btn btn-default" ng-click="reload('upcoming')">Upcoming</button>-->
    <!--<button class="btn btn-default" ng-click="reload('popular')">Popular</button>-->
    <!--<button class="btn btn-default" ng-click="reload('now_playing')">Now Playing</button>-->
    <h1 class="row" >
        <div class="col-xs-6 hidden-md hidden-lg">
            <strong>{{singleName.replace('_',' ') | uppercase}}</strong>
        </div>
        <div class="col-xs-6 hidden-md hidden-lg">
            <select class="input-lg" style="float: right" ng-model="names.value" ng-change="reload(names.value)" name="" id="">
                <option ng-repeat="name in names"  value="{{name.value}}">{{name.display}}</option>
            </select>
        </div>

        <div class="col-md-8 hidden-xs hidden-sm">
            <a class="btn btn-default" ui-sref="movieApp.movies({sortOrder:'now_playing',page:'1'})">Now Playing</a>
            <a class="btn btn-default" ui-sref="movieApp.movies({sortOrder:'upcoming',page:'1'})">Upcoming</a>
            <a class="btn btn-default" ui-sref="movieApp.movies({sortOrder:'popular',page:'1'})">Popular</a>
            <a class="btn btn-default" ui-sref="movieApp.movies({sortOrder:'top_rated',page:'1'})">Top Rated</a>
        </div>
        <div class="col-md-4 hidden-xs hidden-sm">
            <strong style="float: right">{{singleName.replace('_',' ') | uppercase}}</strong>
        </div>
    </h1>

    <ul class="row">

        <li class="col-lg-4 col-sm-6 col-xs-12 card" ng-repeat="movie in getPlaying.results">
            <movie-cell class="box-shadow" movie="movie"></movie-cell>
        </li>
    </ul>


    <hr/>
    <div class="row">
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align: center">
            <h5><strong>Page {{singlePage}} of {{getPlaying.total_pages}}</strong></h5>
        </div>
        <div class="col-xs-1 hidden-sm hidden-md hidden-lg">
        </div>
        <div class="col-xs-5" style="text-align: right">
            <button class="btn btn-default" ng-click="prev()">
                <i class="fa fa-chevron-circle-left fa-lg" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-xs-2 hidden-xs" style="text-align: center">
            <h5><strong>Page {{singlePage}} of {{getPlaying.total_pages}}</strong></h5>
        </div>
        <div class="col-xs-5">
            <button class="btn btn-default" ng-click="next()">
                <i class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <hr/>
</div>
</div>