<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
</style>
<div parallax-background parallax-ratio="0.5"
     style="background-image: url('{{imgUrl}}')"
     class="main-img-container">
</div>

<div class="transparent-separator">

    <div class="col-sm-4 col-xs-2"></div>
    <div class="col-sm-8 col-xs-10">
        <div ng-repeat="time in singleTv.episode_run_time">
            <div> {{time}}m</div>
        </div>
        <div ng-repeat="network in singleTv.networks">
            <div> {{network.name}}</div>
        </div>
        <div><i class="fa fa-imdb fa-lg" aria-hidden="true"></i> {{singleTv.vote_average}}</div>
    </div>

</div>
<div class="separator">

    <div class="col-sm-4 col-xs-2"></div>
    <div class="col-sm-8 col-xs-10">
        <div> Seasons: {{singleTv.number_of_seasons}}</div>
        <div> Episodes: {{singleTv.number_of_episodes}}</div>

    </div>

</div>
<div class="title teko-style">
    <div>
        <div class="col-lg-3 col-sm-4 col-xs-2"></div>
        <div class="col-lg-9 col-sm-8 col-xs-10"><h1>{{singleTv.name}} </h1></div>
    </div>

</div>

<div class="container">

    <div parallax parallax-ratio="1.1" parallax-vertical-offset="230" parallax-horizontal-offset="0"
         class="poster-container">
        <div class="col-sm-12 hidden-xs reset-padding">
            <a href="{{singleTv.homepage}}">
                <img ng-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{singleTv.poster_path}}" alt=""/>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <span ng-repeat="genre in singleTv.genres">
                <strong>{{genre.name}} &nbsp;</strong>
            </span>
        </div>
    </div>
    <p></p>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"> First on the Air: {{singleTv.first_air_date | date}}</div>
        <div class="col-sm-3"> Last episode: {{singleTv.last_air_date | date}}</div>
        <div class="col-sm-3"></div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <h3>
                <a href="{{singleTv.homepage}}"> {{singleTv.original_name}}</a>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div style="min-height: 130px; overflow-y: auto" class="col-sm-9 main-font-size">
            <div>{{singleTv.overview}}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9 main-font-size">
            <h3>Production Companies</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <span ng-repeat="company in singleTv.production_companies">
                <strong>{{company.name}} &nbsp;</strong>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9 main-font-size">
            <h3>Creators</h3>
        </div>
    </div>

    <div style="min-height: 135px" class="row">
        <div class="col-sm-3 col-xs-0"></div>
        <div class="col-sm-2 col-xs-4 main-font-size" ng-repeat="creator in singleTv.created_by">
            <div ng-show="creator.profile_path" style="width: 90px; height: 135px" class="box-shadow">
                <img width="100%" height="100%"
                     ng-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{creator.profile_path}}"
                     alt="{{creator.name}}"/>
            </div>
            <div ng-hide="creator.profile_path" style="width: 90px; height: 135px" class="box-shadow">
                <img width="100%" height="100%" ng-src="static/noPhotoPerson.jpg" alt=""/>
            </div>
            <strong>{{creator.name}}</strong>
        </div>
    </div>



    <h1 ng-hide="!urls.length" class="teko-style"> Videos</h1>

    <div class="row movies" ng-hide="!urls.length">

        <div class="col-xs-3 col-sm-2">
            <button class="btn btn-default box-shadow" onclick="plusDivs(-1)">&#10094;</button>
        </div>

        <div class="col-xs-6 col-sm-8">
            <iframe class="mySlides" ng-repeat="video in urls"
                    width="100%" style="height: inherit; border: 0"
                    ng-src="{{video}}" frameborder="0" allowfullscreen>
            </iframe>
        </div>

        <div class="col-xs-3 col-sm-2">
            <button class="btn btn-default  box-shadow" onclick="plusDivs(1)">&#10095;</button>
        </div>
    </div>

    <h1 ng-show="similar.results.length" class="teko-style">Similar Shows</h1>

    <div ng-show="similar.results.length" class="inline-show-list style-3">

        <div ng-repeat="tv in similar.results">

            <div>
                <a ng-show="tv.poster_path"  ui-sref="movieApp.tvSingle({order:tv.id})">
                    <img title="{{tv.name}}" height="280" width="185"
                         ng-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{tv.poster_path}}" alt="{{tv.name}}"/>
                </a>
                <div ng-hide="tv.poster_path" class="no-poster">
                    <p style="padding-top: 50%; text-align: center">
                        <strong>
                            No Poster Available
                            <br/> for this Show
                        </strong>
                    </p>
                </div>

                <div class="long-text"><strong>{{tv.name}}</strong></div>
            </div>
        </div>

    </div>
    <h1 ng-show="recommendations.results.length" class="teko-style">Recommended </h1>

    <div ng-show="recommendations.results.length" class="inline-show-list style-3">

        <div ng-repeat="tv in recommendations.results">

            <div>
                <a ng-show="tv.poster_path" ui-sref="movieApp.tvSingle({order:tv.id})">
                    <img title="{{tv.name}}" height="280" width="185"
                         ng-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{tv.poster_path}}" alt="{{tv.name}}"/>
                </a>

                <div ng-hide="tv.poster_path" class="no-poster">
                    <p style="padding-top: 50%; text-align: center">
                        <strong>
                            No Poster Available
                            <br/> for this Show
                        </strong>
                    </p>
                </div>
                <div class="long-text"><strong>{{tv.name}}</strong></div>
            </div>
        </div>

    </div>

    <hr/>
</div>
<script src="js/movieApp.js"></script>
<!--<div parallax-background parallax-ratio="0.5" class="main-img-container"></div>-->