<div parallax-background parallax-ratio="0.5"
     style="background-image: url('{{imgUrl}}')"
     class="main-img-container">
</div>

<div class="transparent-separator">

    <div class="col-sm-4 col-xs-2"></div>
    <div class="col-sm-8 col-xs-10">
        <div>
            {{singleMovie.runtime}}m
        </div>
        <div><i class="fa fa-imdb fa-lg" aria-hidden="true"></i> {{singleMovie.vote_average}}</div>
        <div>{{singleMovie.status}}</div>
    </div>

</div>
<div class="separator">

    <div class="col-sm-4 col-xs-2"></div>
    <div class="col-sm-8 col-xs-10">
        <div> Release Date: {{singleMovie.release_date | date}}</div>

    </div>

</div>
<div class="title teko-style">
    <div>
        <div class="col-lg-3 col-sm-4 col-xs-2"></div>
        <div class="col-lg-9 col-sm-8 col-xs-10"><h1>{{singleMovie.title}} </h1></div>
    </div>

</div>
<div class="container">

    <div parallax parallax-ratio="1.1" parallax-vertical-offset="230" parallax-horizontal-offset="0"
         class="poster-container">
        <div class="col-sm-12 hidden-xs reset-padding">
            <a href="{{singleMovie.homepage}}">
                <img ng-show="singleMovie.poster_path"  ng-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{singleMovie.poster_path}}" alt=""/>
                <img ng-hide="singleMovie.poster_path" width="100%" ng-src="static/no-image-185x278.jpg" alt=""/>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <span ng-repeat="genre in singleMovie.genres">
                <strong>{{genre.name}} &nbsp;</strong>
            </span>
        </div>
    </div>
    <p></p>

    <!--<div class="row">-->
    <!--<div class="col-sm-3"></div>-->
    <!--<div class="col-sm-3"> First on the Air: {{singleMovie.first_air_date | date}}</div>-->
    <!--<div class="col-sm-3"> Last episode: {{singleMovie.last_air_date | date}}</div>-->
    <!--<div class="col-sm-3"></div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <h3>
                <strong>
                    <a href="{{singleMovie.homepage}}"> {{singleMovie.original_title}}</a>
                </strong>

            </h3>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-9"><h4><strong>{{singleMovie.tagline}}</strong></h4></div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div style="min-height: 130px; overflow-y: auto" class="col-sm-9 main-font-size">
            <div>{{singleMovie.overview}}</div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9 main-font-size">
            <h3>Production Companies</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <span ng-repeat="company in singleMovie.production_companies">
                <strong>{{company.name}} &nbsp;</strong>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9 main-font-size">
            <h3>Production Countries</h3>
        </div>
    </div>

    <div style="min-height: 135px" class="row">
        <div class="col-sm-3 col-xs-0"></div>
        <div class="col-sm-9 main-font-size">
           <span ng-repeat="company in singleMovie.production_countries">
            <strong>{{company.name}} &nbsp;</strong>
               </span>
        </div>
    </div>


    <h1 ng-hide="!urls.length" class="teko-style"> Videos</h1>

    <div class="row movies" ng-hide="!urls.length">

        <div class="col-xs-3 col-sm-2">
            <button class="btn btn-default box-shadow" onclick="plusDivs(-1)">&#10094;</button>
        </div>

        <div class="col-xs-6 col-sm-8">
            <iframe class="mySlides" ng-repeat="video in urls"
                    width="100%" style="height: inherit"
                    ng-src="{{video}}" frameborder="0" allowfullscreen>
            </iframe>
        </div>

        <div class="col-xs-3 col-sm-2">
            <button class="btn btn-default  box-shadow" onclick="plusDivs(1)">&#10095;</button>
        </div>
    </div>

    <h1 ng-show="similar.results.length" class="teko-style">
        <a ui-sref="movieApp.similar({movie:'movie',eventId:singleMovieId,similar:'similar',page:'1'})">Similar Movies</a>
    </h1>
    <!--<div><a ui-sref="movieApp.tv({order:'airing_today',page:'1'})">Airing Today</a></div>-->



    <div class="row" ng-show="similar.results.length" style="position: relative;">

        <a href="#" class="rightArrow show-arrow">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
        <a href="#" class="leftArrow show-arrow">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>

        <div class="col-xs-12">
            <div class="inline-show-list style-3 innerWrapper">

                <div ng-repeat="tv in similar.results">

                    <div>
                        <a ng-show="tv.poster_path" ui-sref="movieApp.single({eventId:tv.id})">
                            <img  title="{{tv.title}}" height="280" width="185" style="background-color: darkgray; "
                                 ng-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{tv.poster_path}}"
                                 alt="{{tv.title}}"/>

                        </a>
                        <div ng-hide="tv.poster_path" class="no-poster">
                            <p style="padding-top: 50%; text-align: center">
                                <strong>
                                    No Poster Available
                                    <br/> for this Show
                                </strong>
                            </p>
                        </div>

                        <div class="long-text"><strong>{{tv.title}}</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 ng-show="recommendations.results.length" class="teko-style">Recommended </h1>

    <div ng-show="recommendations.results.length"  class="row" style="position: relative;">

        <a href="#" class="rightArrow2 show-arrow">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
        <a href="#" class="leftArrow2 show-arrow">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>

        <div class="col-xs-12">
            <div class="inline-show-list style-3 innerWrapper2">

                <div ng-repeat="tv in recommendations.results">

                    <div>
                        <a ng-show="tv.poster_path" ui-sref="movieApp.single({eventId:tv.id})">
                            <img  title="{{tv.title}}" height="280" width="185" style="background-color: darkgray; "
                                 ng-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{tv.poster_path}}"
                                 alt="{{tv.title}}"/>
                        </a>
                        <div ng-hide="tv.poster_path" class="no-poster">
                            <p style="padding-top: 50%; text-align: center">
                                <strong>
                                    No Poster Available
                                    <br/> for this Show
                                </strong>
                            </p>
                        </div>
                        <div class="long-text"><strong>{{tv.title}}</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>

<script src="js/movieApp.js"></script>
<script src="js/slider.js"></script>
<!--<div parallax-background parallax-ratio="0.5" class="main-img-container"></div>-->