<p style="padding-bottom: 60px"></p>
<div class="container">

    <!--ng-options="v for v in sortOrder.values"-->
    <h1 class="row">
        <div class="hidden-md hidden-lg teko-style col-xs-6">
            <strong>{{singleName.replace('_',' ') | uppercase}}</strong>
        </div>

        <div class="hidden-md hidden-lg col-xs-6" >
            <select style="float: right"  ng-model="order.value" ng-change="reloadTv()" class="input-lg">
                <option value="#">Filter</option>
                <option value="airing_today">Airing Today</option>
                <option value="on_the_air">On The Air</option>
                <option value="top_rated">Top Rated</option>
                <option value="popular">Popular</option>
            </select>
        </div>

        <div class="hidden-xs hidden-sm col-md-6">
            <a class="btn btn-default" ui-sref="movieApp.tv({order:'airing_today',page:'1'})">Airing Today</a>
            <a class="btn btn-default" ui-sref="movieApp.tv({order:'on_the_air',page:'1'})">On The Air</a>
            <a class="btn btn-default" ui-sref="movieApp.tv({order:'popular',page:'1'})">Popular</a>
            <a class="btn btn-default" ui-sref="movieApp.tv({order:'top_rated',page:'1'})">Top Rated</a>

        </div>
        <div class="col-md-6 teko-style hidden-xs hidden-sm">
            <strong style="float: right"  >{{singleName.replace('_',' ') | uppercase}}</strong>
        </div>


    </h1>

    <ul class="row">
        <li class="col-lg-4 col-sm-6 col-xs-12 card" ng-repeat="tv in allShows.results">
            <tv-cell class="box-shadow" tv="tv"></tv-cell>
        </li>
    </ul>

    <hr/>
    <div class="row">
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="text-align: center">
            <h5><strong>Page {{singlePage}} of {{allShows.total_pages}}</strong></h5>
        </div>
        <div class="col-xs-1 hidden-sm hidden-md hidden-lg">
        </div>
        <div class="col-xs-5" style="text-align: right">
            <button class="btn btn-default" ng-click="prev()">
                <i class="fa fa-chevron-circle-left fa-lg" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-xs-2 hidden-xs" style="text-align: center">
            <h5><strong>Page {{singlePage}} of {{allShows.total_pages}}</strong></h5>
        </div>
        <div class="col-xs-5">
            <button class="btn btn-default" ng-click="next()">
                <i class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <hr/>
</div>