<div class="container-fluid" style="background-color: lightgray">

    <div class="container">
        <!--ng-options="v for v in sortOrder.values"-->

        <h1>{{order.value | uppercase}}</h1>
        <h2>
            <label for="sort">Show: </label>
            <select id="sort" ng-model="order.value" ng-change="reloadTv()" class="input-sm">
                <option  value="on_the_air">On The Air </option>
                <option  value="top_rated">Top Rated</option>
                <option  value="popular">Popular </option>
                <option  value="airing_today">Airing Today</option>
            </select>
        </h2>

        <ul class="row">

            <li class="col-lg-4 col-sm-6 col-xs-12 card" ng-repeat="tv in allShows.results">
                <tv-cell tv="tv"></tv-cell>
            </li>
        </ul>

    </div>
</div>