<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-fixed-top"
                    data-toggle="collapse" data-target="#navigationbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="movieApp">JUST MOVIES</a>
        </div>
        <div class="collapse navbar-collapse" id="navigationbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="movieApp">HOME</a></li>
                <li><a ui-sref="movieApp.movies({sortOrder:'now_playing'})">MOVIES</a></li>
                <li><a ui-sref="movieApp.tv({order:'on_the_air'})">TV SHOWS</a></li>
            </ul>
        </div>
    </div>
</nav>
